{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}
<style>
    .about-section {
        padding: 50px;
        text-align: center;
        background: rgb(33, 37, 41);
        color: white;
      }
</style>
<div class="about-section">
    <h1>About Akash Foods</h1>
    <p>Akash Foods is a family-owned business dedicated to providing high-quality, authentic Indian cuisine to food lovers around the world. 
    We are passionate about sharing the rich and diverse flavors of Indian cuisine with our customers, and we take pride in using only the 
    freshest and finest ingredients in all of our dishes.</p>
    <p>Our journey began over a decade ago, when our founder, Akash, first started experimenting with different recipes and spices in his home kitchen. 
    His passion for cooking and his commitment to using only the best ingredients quickly earned him a reputation among friends and family, 
    and he soon realized that there was a demand for authentic Indian cuisine in the wider community.</p>
    <p>Today, Akash Foods is a thriving business with a loyal following of customers who appreciate our commitment to quality and authenticity. 
    We offer a wide range of traditional Indian dishes, including curries, biryanis, tandoori specialties, and more, as well as a selection of 
    vegetarian and vegan options.</p>
    <p>At Akash Foods, we believe that good food should bring people together, and we are dedicated to creating a warm and welcoming atmosphere where 
    everyone can feel at home. Whether you are a seasoned fan of Indian cuisine or trying it for the first time, we invite you to join us on a culinary 
    journey that celebrates the vibrant flavors and rich traditions of India.</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  
{% endblock body %}